<div class="card d-flex flex-row flex-wrap justify-content-around" id="gameReviewCard">
  <a class="col-sm-12 col-md-2 text-center" href="/game/id/{{id}}"><img class="img-fluid gameImage" src="
    https://images.igdb.com/igdb/image/upload/t_cover_big/{{cover_id}}.jpg"></a>
  <div class="col-sm-12 col-md-9" style="padding-left: 5px;">
    <h2>{{name}}</h2>
    {{summary}}
    <br>
    Release Date: {{format_date release_date}}
  </div>
</div>