<div class="row w-100">
  <div class="mx-auto my-auto">
    <div class="container" id="gameReviewCard">
      <div class="card">
        {{log this}}
        <a href="/game/id/{{game.id}}"><img src="
    https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover_id}}.jpg"></a>
        <div>
          {{game.summary}}
          <br>
          {{game.release_date}}
        </div>
        {{#each game.reviews}}
        <div class="">
          <a href="/user/{{user.id}}">
            <h3>{{user.username}}</h3>
          </a>
          <p>{{review}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>