<div class="row w-100">
  <div class="mx-auto my-auto" id="gameReviewCard">
    <div class="container p-3">
      {{log game.reviews}}
      <a href="/game/{{game.id}}"><img src="
    https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover_id}}.jpg"></a>
      <div>
        {{game.summary}}
        <br>
        {{game.release_date}}
      </div>
      {{#each game.reviews}}
      <div class="card">
        <a href="/user/{{user.id}}">
          <h3>{{user.username}}</h3>
        </a>
        <p>{{review}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>