<div class="row w-100">
  <div class="mx-auto my-auto">
    <div class="container" id="gameReviewCard">
      <div class="card mb-2">
        {{log this}}
        <a href="/game/id/{{game.id}}"><img src="
    https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover_id}}.jpg"></a>
        <div>
          {{game.summary}}
          <br>
          {{game.release_date}}
        </div>
      </div>
      <div class="card mb-2">
        <form id="review">
          <h3>Write a Review</h3>
          <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
          <textarea class="form-control mb-3" rows="5" id="comment" name="text" placeholder="Write your Review here"
            maxlength="500"></textarea>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      {{#each game.reviews}}
      <div class="card">
        <a href="/user/{{user.id}}">
          <h3>{{user.username}}</h3>
        </a>
        <p>{{review}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>