<div class="row">
  <div class="col-md-4 offset-md-6 w-30 mx-auto" id="infoWidget">game platform info widget</div>
  <div class="container">
    {{#each reviews}}
    {{log this}}
    <h1>{{game.name}}</h1>
    <a href="/game/{{game.id}}"><img
        src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover_id}}.jpg"></a>
    <p>
    <h4>Review By:</h4><a href="/user/{{user.id}}">
      <h3>{{user.username}}</h3>
    </a>
    <br>
    {{review}}
    </p>
    {{/each}}
  </div>
</div>