<div class="container" id="gameSearchContainer">
  {{#each games}}
  {{log this.release_dates}}
  <div class="card mb-2 d-flex flex-row" id="gameReviewCard">
    <a href="/game/id/{{id}}"><img class="col-9 pr-3" src="
    https://images.igdb.com/igdb/image/upload/t_cover_big/{{cover.image_id}}.jpg" class="gameImage"></a>
    <div class="col-sm-6 col-md-9">
      <h1>{{name}}</h1>
      {{summary}}
      <br>
      Release Date: {{format_date release_dates.[0].date}}
    </div>
  </div>
  {{/each}}
</div>